<article>
  <section class="header">
    <div class="info">
      Posted on
      $if(ref)$
        <a href="$ref$">$date$</a>
      $else$
        $date$
      $endif$
      $if(author)$
        by $author$
      $endif$
    </div>
    <div class="info">
      $if(tags)$
        Tags: $tags$
      $endif$
    </div>
  </section>
  <section>
    $body$
  </section>
  <section class="links">
    <a href="$twitter(url)$" target="_blank"><img src="/images/tweet.png"></a>
    $if(github)$
      <a href="https://github.com/$github$" target="_blank"><img src="/images/repo.png"></a>
    $endif$
  </section>
</article>
